<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"25px","left":"25px","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-right:25px;padding-bottom:var(--wp--preset--spacing--50);padding-left:25px"><!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
	<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
	<main class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide"} /-->
	
	<!-- wp:post-content {"align":"wide"} /--></main>
	<!-- /wp:group -->
	<!-- /wp:woocommerce/page-content-wrapper --></main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->